{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-md-8">
        <div class="container">
            <h1>About this site!</h1>
                <h4>First of all this just a home work! Just for Import and Search data.</h4>
                <h4>{{Line_one}}</h4>
                <h4>Cause I know how to use it! I still learn the other things but still not as good Django</h4>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock content %}